body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contenedor-general {
  background-color: #b5cde2;
}

.input-campo {
  margin-block: 15px;
  display: flex;
  flex-direction: column;
}

.input-campo label {
  margin-right: 10px;
}

.campo-form {
  border: 2px solid rgb(4, 4, 146);
  padding: 15px;
  width: 600px;
}

.titulo-campo {
  text-align: center;
}

.boton {
  margin-block: 10px;
}

.off {
  color: transparent;
}
